<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Star Wars Universe Planets</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <script src="{{url_for('static', filename='main.js')}}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Planet list</a></li>
                    <li><a href="#">Voting statistics</a></li>
                    <li class="login-toggle" id="nav-registration"><a href="/register/">Registration</a></li>
                    <li class="login-toggle" id="nav-login"><a href="#">Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="login-toggle" id="nav-logout"><a href="#">Logout</a></li>
                    <li class="login-toggle" id="nav-user"><a href="#">user: Csingacsguk</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <heading class="row">
                <h1>
                    Star Wars Universe Planets
                </h1>
            </heading>
            <div class="row">
                {% if prev_page != None %}
                    <input type="button" class="btn btn-primary page-btn" id="prev-page" value="Previous" data-page="{{prev_page}}">
                {% endif %} 
                {% if next_page != None %}
                    <input type="button" class="btn btn-success page-btn" id="next-page" value="Next" data-page="{{next_page}}">
                {% endif %}
            </div>
            <div class="row">
                <table>
                    <tr>
                        {% for header in planet_keys%}
                            <th>{{header[0]}}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    {% for planet in planets%}
                        <tr>
                            {% for key in planet_keys %}
                                <td>
                                    {% if key[1] != "residents"%}
                                        {{ planet[key[1]] }}
                                    {% else %}
                                        {% if planet[key[1]]|length == 0 %}
                                            No known residents
                                        {% else %}
                                            <input type='button' class='btn resident-btn' value='{{planet[key[1]]|length}} Resident(s)' data-residents-url='{{planet["residents"]}}' data-modal-title='Residents of {{planet["name"]}}' data-toggle="modal" data-target="#residents-modal">
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>vote buttony</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- Modal for residents -->
        <div class="modal fade" id="residents-modal">
            <div class="modal-dialog modal-lg">

                <!-- Modal content for residents-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">Zzz...</button>
                        <h4 class="modal-title" id="residents-title">Residents of</h4>
                    </div>
                    <div class="modal-body" id="residents-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Height (m)</th>
                                    <th>Mass (kg)</th>
                                    <th>Skin color</th>
                                    <th>Hair color</th>
                                    <th>Eye color</th>
                                    <th>Birth year</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>